// Import external libraries.
// Used wwith Home page
@import "compass/css3/deprecated-support";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

.l-page {
  margin: 0 auto;
  @include breakpoint($tab,true) {
    width:$tab;
  }

  @include breakpoint($desk,true) {
    width:$desk;
  }
}

// Branding is part of header
.l-branding{
   // margin:0em;
   height: auto;
   @include clearfix;
   padding:0em;
}

// Home page image is part of branding
.home-page-image{
    max-width:100%;
    display:block;
    margin:0em;
    float:left;
    height: auto;
}

// Main menu
 
 .main-menu{
       float:left;
       margin-left: -19.9em;
  }

 .main-menu li a{
       color:#fff;
 }

.l-main{
   @include clearfix;
}

.l-content{
  @include clearfix;
}

// Home content

.home-content{
  float:left;
  max-width:100%;
  width: 40em;
  margin-left: 1em;
  margin-top: -30em;
  color:#fff;
}

.l-region--branding{
  clear:both;
}

h1{
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  background-color: #00008B;
  color: #ffffff;
  height: 1.8em;
  padding: 0.5em;
}

ul.breadcrumb{
  display:none;
}

.field--name-body p {
   margin: 0% 5%;
   font-size:0.9em;
   line-height:1.2;
}

.footer p {
   margin: 0% 5%;
}

@include breakpoint($tab,true) {
    
     .l-content-home{
        background-color: #fce7ca;
        height: 22em;
     }

      body.front .l-region--branding img {
        display: block;
      }

      .field--name-body p {
        margin: 0% 5%;
        font-size:1.2em;
        line-height:1.2;
      }    
  }

 @include breakpoint ($desk, true){

     .field--name-body p {
        margin: 0% 5%;
        font-size:1.8em;
        line-height:1.2;
     }
 }
 