/* line 34, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 36, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in ../../abstractions/**\/* */
/* line 1, ../../../sass/base/_lists.scss */
.menu .leaf {
  list-style-type: none;
  list-style-image: none; }

/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 36, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in ../../variables/**\/* */
/* No files to import found in ../../abstractions/**\/* */
/* No files to import found in ../../base/**\/* */
/* No files to import found in ../../components/**\/* */
/* line 11, ../../../sass/base/_typography.scss */
p, pre {
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 16, ../../../sass/base/_typography.scss */
h3 {
  font-size: 0.83em;
  margin: 2.5em 2% 0em; }

/* line 21, ../../../sass/base/_typography.scss */
.node__content h3 {
  font-size: 1em;
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 27, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  font-size: 1.1em;
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 33, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 1.2em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 43, ../../../sass/base/_typography.scss */
h3 {
  font-size: 1.2em;
  margin: 2.5em 2% 0em; }

/* line 48, ../../../sass/base/_typography.scss */
.node__content h3 {
  font-size: 1.5em;
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 54, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  font-size: 1.5em;
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 60, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 1.5em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 72, ../../../sass/base/_typography.scss */
h3 {
  font-size: 1.5em;
  margin: 2.5em 2% 0em; }

/* line 77, ../../../sass/base/_typography.scss */
.node__content h3 {
  font-size: 1.8em;
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 83, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  font-size: 1.8em;
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 89, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 2em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 36, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in ../../abstractions/**\/* */
/* line 1, ../../../sass/base/_lists.scss */
.menu .leaf {
  list-style-type: none;
  list-style-image: none; }

/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 36, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in ../../variables/**\/* */
/* No files to import found in ../../abstractions/**\/* */
/* No files to import found in ../../base/**\/* */
/* No files to import found in ../../components/**\/* */
/* line 11, ../../../sass/base/_typography.scss */
p, pre {
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 16, ../../../sass/base/_typography.scss */
h3 {
  font-size: 0.83em;
  margin: 2.5em 2% 0em; }

/* line 21, ../../../sass/base/_typography.scss */
.node__content h3 {
  font-size: 1em;
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 27, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  font-size: 1.1em;
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 33, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 1.2em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 43, ../../../sass/base/_typography.scss */
h3 {
  font-size: 1.2em;
  margin: 2.5em 2% 0em; }

/* line 48, ../../../sass/base/_typography.scss */
.node__content h3 {
  font-size: 1.5em;
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 54, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  font-size: 1.5em;
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 60, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 1.5em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 72, ../../../sass/base/_typography.scss */
h3 {
  font-size: 1.5em;
  margin: 2.5em 2% 0em; }

/* line 77, ../../../sass/base/_typography.scss */
.node__content h3 {
  font-size: 1.8em;
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 83, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  font-size: 1.8em;
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 89, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 2em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 13, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.l-page {
  margin: 0 auto;
  width: 44em;
  width: 70em; }

/* line 25, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.l-branding {
  height: auto;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  padding: 0em; }
  /* line 47, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-branding:before, .l-branding:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 55, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-branding:after {
    clear: both; }

/* line 33, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.home-page-image {
  max-width: 100%;
  display: block;
  margin: 0em;
  float: left;
  height: auto; }

/* line 43, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.main-menu {
  float: left;
  margin-left: -19.9em; }

/* line 48, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.main-menu li a {
  color: #fff; }

/* line 52, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.l-main {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
  /* line 47, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-main:before, .l-main:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 55, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-main:after {
    clear: both; }

/* line 56, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.l-content {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
  /* line 47, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-content:before, .l-content:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 55, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-content:after {
    clear: both; }

/* line 62, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.home-content {
  float: left;
  max-width: 100%;
  width: 40em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -30em;
  color: #fff; }

/* line 72, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.l-region--branding {
  clear: both; }

/* line 76, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
h1 {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  background-color: #00008B;
  color: #ffffff;
  height: 1.8em;
  padding: 0.5em; }

/* line 86, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
ul.breadcrumb {
  display: none; }

/* line 90, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.field--name-body p {
  margin: 0% 5%;
  font-size: 0.9em;
  line-height: 1.2; }

/* line 96, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.footer p {
  margin: 0% 5%; }

/* line 102, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.l-content-home {
  background-color: #fce7ca;
  height: 22em; }

/* line 107, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
body.front .l-region--branding img {
  display: block; }

/* line 111, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.field--name-body p {
  margin: 0% 5%;
  font-size: 1.2em;
  line-height: 1.2; }

/* line 120, ../../../sass/layouts/no-sidebar/no-sidebar.layout.scss */
.field--name-body p {
  margin: 0% 5%;
  font-size: 1.8em;
  line-height: 1.2; }

/*# sourceMappingURL=no-sidebar.layout.no-query.css.map */
